@charset "utf-8";
/* CSS document */

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

#container {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 70%;
    background: radial-gradient(at center, #253770, #382569);
}

#title {
    color: white;
    background: linear-gradient(to right, #2b4392, #592783);
    font: 2.5em Helvetica, Candara;
    width: 420px;
    margin: 15px 35.7%;
    padding: 5px;
    border-radius: 20px;
    text-shadow: 5px 5px 5px #000000;
    box-shadow: 0px 5px 10px #220a36;
    position: absolute;
    top: 20px;
}

#calculator {
    top: 60px;
    margin-left: 30%;
    margin-top: 85px;
    width: 600px;
    height: 600px;
    background: radial-gradient(at center, #281f58 70%, #193444);
    border-radius: 30px;
    box-shadow: 10px 10px 25px black;
    position: absolute;
}

#calculatorInterface {
    margin: 17px;
    width: 560px;
    height: 565px;
    background: linear-gradient(to top right, #131f30, #1d2b3d);
    position: relative;
    border-radius: 15px;
}

.nums-container {
    background: linear-gradient(to top right, rgb(22, 37, 59), #1e3047);
    position: absolute;
    margin: 38% 0 0 10px;
    border-radius: 10px;
    width: 70%;
    height: 60%;
}

.numbers {
    margin: 13px 0 15px 15%;
    clear: both;
}

.button {
    background: radial-gradient(at center, #243b5a, #223958 );
    width: 75px;
    height: 70px;
    float: left;
    margin: 5px;
    font: 2em helvetica, century gothic, arial;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: None;
    transition: 0.22s ease-in-out 0.01s;
}

.fa-github, .fa-twitter, .material-icons {
    transition: 0.22s ease-in-out 0.01s;
}

.button:hover {
    transform: scale(1.15);
}

.fa-github:hover, .fa-twitter:hover, .material-icons:hover {
    transform: scale(1.3);
}

footer {
    background: linear-gradient(to right, #19171b 20%, #18181a 20%);
    position: relative;
    height: 300px;
    margin-top: -100px;
    clear: both;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
}

#inner-footer {
    display: block;
    margin: 0 auto;
}

#inner-footer #logo-container {
    float: left;
    padding: 25px 50px 0 30px;
}

#inner-footer #logo-container img {
    width: 280px;
    height: auto;
}

#inner-footer .footer-third {
    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    margin-top: 10px;
    float: left;
}
#inner-footer .footer-third:last-child {
    margin-right: 0;
}

#inner-footer .footer-third h1{
    font-family: "arial";
    font-size: 30px;
    color: white;
    display: block;
    font-weight: 200px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

#inner-footer .footer-third a{
    font-family: "arial";
    font-size: 18px;
    color: white;
    display: table;
    font-weight: 200;
    width: fit-content;
    margin-bottom: 20px;
}

#inner-footer .footer-third li{
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
}

#inner-footer .footer-third span {
    color: white;
    font-family: arial;
    font-size: 18px;
    font-weight: 200;
    display: block;
    width: 105%;
}

#inner-footer .footer-third li i {
    font-size: 65px;
    padding-right: 15px;
}
